.bord {
    border: 2px dashed red;
}

.bordgreen {
    border: 2px dashed green;
}

.bordblue {
    border: 2px dashed blue;
}

.bordblack {
    border: 2px dashed black;
}

.bordgray {
    border: 2px dashed gray;
}
/* DEBUG-------------------------------------------------------------- */

/* BODY */
.container-main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#009688 15%, #dbdbd2 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;    
}

/* CONTAINER ESTERNO */
.containerExt {
    width: 80vw;
    height: 95vh;
    display: flex;
}

/* COLONNA SINISTRA */
.colSx{
    display: flex;
    flex-direction: column;
    width: 34%;
}

.mainTitleSx {
    background-color: #eaeaea;
    height: 65px;
    border-right: 1px solid lightgray;
}

.mainTitleSx div img {
    height: 50px;
    border-radius: 50%;
}

.boxNotif {
    background-color: #8edafc;
    height: 75px;
}

.boxNotif div:first-child {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
}

.boxInput {
    background-color: #fafafa;
    height: 50px;
}

.boxContact{
    background-color: #ffffff;
    overflow: auto;
    flex-grow: 1;
}

.contactSx {
    background-color: white;
    display: flex;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.contactSx.active {
   background-color: #e9ebeb;
}

.contactSx div img {
    height: 50px;
    border-radius: 50%;
}

.contactSx div p:last-child {
    font-size: 12px;
}
.last-access {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
   
}



/* COLONNA DESTRA */
.colDx{
    display: flex;
    flex-direction: column;
    width: 66%;
}

.mainTitleDx {
    background-color: #eaeaea;
    height: 65px;
}

.mainTitleDx div img {
    height: 50px;
    border-radius: 50%;
}

.mainTitleDx div p:last-child {
    font-size: 12px;
}


.mainMessage {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerMessage {
    width: 80%;
    height: 80%;
}

.sendedMsg {
    align-self: flex-end;
    background-color: #d5f9ba;
    border-radius: 15px;
    max-width: 55%;
    height: 60px;
    word-wrap: break-word;

}

.receivedMsg {
    align-self: flex-start;
    background-color: #ffffff;
    border-radius: 15px; 
    max-width: 55%;
    height: 60px;
}



.footerMessage {
    background-color: #f3eeea;
    height: 70px;
}